<div class="post_full_details border">
  <p class="post_title"> Post#<%= post.id %> by <%= post.author.name %> </p>
  <p class="number">
    Comments: <%= post.comments_counter %>
    Likes: <%= post.likes_counter %>
  </p>
  <p class="post_title"> <%= post.text %> </p>
</div>