<h2>Enter details for a new Post by (first_user):</h2>
<% if @new_post.errors.any? %>
  <div>
    <% @new_post.errors.full_messages.each do |message| %>
      <%= message%>
    <% end %>
  </div>
<% end %>

<%= form_with model:@new_post, url: user_posts_path, method: :post, scope: :post do |form| %>
  <div class="inner_wrapper">
    <div>
      <%= form.label :title %>
      <%= form.text_field :title , class:"title" %>
    </div>
    <div>
      <%= form.label :text %>
      <%= form.text_area :text, class:"text" %>
    </div>
    <%= form.submit 'Create User', class:'submit' %>
  </div>
<% end %>