<h2>Enter details for a new Post by (first_user):</h2>
<%= form_with model: @post, url: user_posts_path, method: :post, scope: :post do |form| %>
  <div class="inner_wrapper">
    <div>
      <%= form.label :title %>
      <%= form.text_field :title , class:"title" %>
    </div>
    <div>
      <%= form.label :text %>
      <%= form.text_area :text, class:"text" %>
    </div>
    <%= form.submit 'Create Post', class:'submit' %>
  </div>
<% end %>